<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
	<head>
		<title></title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<link rel="stylesheet" type="text/css" href="static/style.css" />
	</head>
	<body>

		<div id="title">
			Listen to
		</div>

		<div id="genre">
			<a href="/">[% genre %]</a>
		</div>

		<div id="twitter">
			<a href="http://twitter.com/share" class="twitter-share-button" data-text="I listen to [% genre %] #genregenerator" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script><br />
		</div>

		<div id="impressum">
			Created by <a href="http://www.thehappy.de/~xeno/">xeno</a> and <a href="http://ghosthacking.net">mxey</a> | <a href="https://github.com/mxey/genregenerator">github</a> | <a href="http://git.fucktheforce.de/?p=genregenerator;a=summary">git.fucktheforce.de</a>
		</div>

	</body>
</html>
