* {
  margin: 0px;
  padding: 0px;
}

body, html {
  font-family: 'PT Sans Narrow', sans-serif;
  text-align: center;
}

#title {
  margin-top: 50pt;
  font-size: 40pt;
}

#genre {
  margin-top: 40px;
  font-size: 60pt;
  font-weight: bold;
  color: #666;
}

#twitter {
  margin-top: 80px;
  margin-left: 18px;
}

#impressum {
  margin-top: 14pt;
  font-size: 14pt;
  color: #999;
}

a {
  color: #666;
  text-decoration: none;
}
