* {
	margin: 0px;
	padding: 0px;
}

body, html {
	font-family: sans-serif;
	text-align: center;
}

#title {
	margin-top: 50px;
	font-size: 50px;
}

#genre {
	margin-top: 50px;
	font-size: 50px;
	font-weight: bold;
	color: #666;
}

#twitter {
	margin-top: 80px;
	margin-left: 18px;
}

#impressum {
	margin-top: 5px;
	font-size: 10px;
	color: #999;
}

a {
	color: #666;
	text-decoration: none;
}
